#about {
  img {
    float: right;
    width: 300px;
    border: solid 0.5rem #ff8800;
    border-radius: 50%;
    margin-left: 1rem;
    margin-top: -4rem;
    margin-bottom: 0.5rem;

    @media screen and (max-width: 768px) {
      float: none;
      width: calc(100% - 1rem);
      margin-left: 0;
      margin-top: 0;
    }
  }
}
