#about {
  .info {
    font-size: 16px;
    display: grid;
    grid-template-columns: 1.5rem calc(30% - 1.5rem) 1.5rem calc(70% - 1.5rem);
    align-items: center;
    white-space: nowrap;

    i,
    img {
      width: 1rem;
      font-size: 1rem;
      color: #886644;
    }
    @media screen and (max-width: 768px) {
      grid-template-columns: 1.5rem calc(50% - 1.5rem);
    }
  }

  .image {
    position: relative;
    background-image: url("../../public/me/jorg-bw.png");
    background-size: 240px;
    float: right;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    margin-left: 1rem;
    margin-top: -10rem;
    margin-bottom: 0.5rem;
    border: solid 0.5rem #886644;
    text-align: center;
    z-index: 1;

    @media screen and (max-width: 768px) {
      float: none;
      display: block;
      background-size: calc(80vw - 6rem);
      width: calc(80vw - 6rem);
      height: calc(80vw - 6rem);
      margin-left: auto;
      margin-right: auto;
      margin-top: 0;
      border-width: 1.5vw;
    }
  }
}
