#competences {
  .react-tabs {
    [role="tablist"] {
      padding: 0;
    }
    [role="tab"] {
      display: inline-block;
      font-size: 0.8em;
      position: relative;
      left: -1em;
      background-color: #ffffff;
      font-family: "Kdam Thmor Pro", sans-serif;
      color: #442200;
      padding: 0.5rem 1rem;
      border-radius: 0.3rem;
      cursor: pointer;

      &[aria-selected="true"] {
        font-weight: bold;
        background-color: #ffeecc;
        transform: scale(1.1);
        z-index: 1;
      }
    }

    [role="tabpanel"] {
      display: grid;
      grid-template-columns: 7em calc(50% - 7em) 7em calc(50% - 7em);
      transition: opacity 0.3s;

      &:empty {
        opacity: 0;
      }

      &.pairs > * {
        grid-column: span 2;
      }

      @media screen and (max-width: 768px) {
        grid-template-columns: 7em auto;
      }
    }
  }
}
