.card-image {
  position: absolute;
  object-fit: cover;
  opacity: 0.2;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;

  > * {
    position: relative;
    z-index: 0;
    max-width: 70%;

    @media screen and (max-width: 768px) {
      max-width: initial;
    }
  }

  @media screen and (max-width: 768px) {
    padding: 1rem;
  }
}
