#menu {
  position: fixed;
  font-size: 2rem;
  padding: 0;
  top: 0;
  right: 0;
  width: 5rem;
  height: 5rem;
  border: 0;
  background: transparent;
  color: #551a8b;
  z-index: 999;

  &:focus-within > nav {
    right: 0;
  }

  nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    background: #ffffff;
    border-left: solid 1px #ddbb88;
    box-shadow: 0 5px 10px 0 rgba(#884400, 0.2);
    opacity: 1;
    padding: 0.5rem;
    right: -6rem;
    top: 0;
    bottom: 0;
    width: 4rem;

    > a {
      color: #996633;
      margin-bottom: 0.5rem;
    }
  }

  a,
  button {
    display: block;
    padding: 1rem;
    line-height: 1rem;

    &:hover,
    &:focus {
      > .fa {
        color: #551a8b;
        transform: scale(1.2) rotate(10deg);
      }
    }
  }
}
